pymssql 
python-telegram-bot 
papermill 
nteract-scrapbook
apache-airflow-providers-papermill 
apache-airflow-providers-microsoft-mssql 
apache-airflow-providers-telegram 
apache-airflow-providers-ssh
apache-airflow-providers-ssh
