[mysqld]
default-authentication-plugin=mysql_native_password
collation-server = utf8mb4_unicode_ci
character-set-server = utf8mb4

max_allowed_packet=256M
max_connect_errors=1000000
skip_external_locking
skip_name_resolve

default_storage_engine          = InnoDB
innodb_buffer_pool_instances    = 8    # Use 1 instance per 1GB of InnoDB pool size
innodb_buffer_pool_size         = 10G    # Use up to 70-80% of RAM
innodb_file_per_table           = 1
innodb_flush_log_at_trx_commit  = 2 # set 2 for keycloak init, 0 if speed prefer
innodb_flush_method             = O_DIRECT
innodb_log_buffer_size          = 16M # if using high amounts of CPU up to 50% Ram
innodb_log_file_size            = 1G # size equals to 25% of buffer pool size
innodb_stats_on_metadata        = 0
innodb_thread_concurrency       = 5    # Optional: Set to the number of CPUs on your system (minus 1 or 2) to better
                                        # contain CPU usage. E.g. if your system has 8 CPUs, try 6 or 7 and check
                                        # the overall load produced by MySQL/MariaDB.
innodb_read_io_threads          = 64
innodb_write_io_threads         = 64

# Connection Settings
max_connections                 = 100   
back_log                        = 512
thread_cache_size               = 100
thread_stack                    = 192K
interactive_timeout             = 180
wait_timeout                    = 180

# Buffer Settings
join_buffer_size                = 4M    
read_buffer_size                = 3M    
read_rnd_buffer_size            = 4M    
sort_buffer_size                = 4M 

# airflow pre additions
explicit_defaults_for_timestamp=1

# Table Settings
table_definition_cache          = 20400 #400+table_open_cache/2
table_open_cache                = 40000 #C*N  C=concurrent running connections, , where N is the maximum number of tables per join in any of the queries which you execute.
max_heap_table_size             = 128M
tmp_table_size                  = 128M

# Search Settings
ft_min_word_len                 = 3     # Minimum length of words to be indexed for search results  

# log 
binlog_expire_logs_seconds = 172800
max_binlog_size = 134217728

[client]
default-character-set=utf8mb4